.hdiv {
    display: flex;
    background-color: grey;
    justify-content: center;
    height: 60px;
    align-items: flex-start;
    position: fixed;
    width: 100%;
}
.butto {
    margin-left: 40%;
}